#GameZone{
    border: 1px solid #000000;
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
#MiniGameArea{
    border: 1px solid #eee;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
.farmbutton{
    border: 1px solid #6ae382;
    padding: 2px 3px;
    background:#d0af75;
    cursor: grab;
}
#UIinfo {
    border: 1px solid #000;
    width: 150px;
    padding: 3px;
    text-align: left;
}
#UIfield {
    border: 1px solid #000;
    width: 200px;
    padding: 3px;
    text-align: left;
}
.casinobutton{
    border: 1px solid #ff4040;
    padding: 2px 3px;
    background:#27c848;
    cursor: grab;
}
#SLmain{
    border: 1px solid #a1a1a1;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}